
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  mat-form-field {
    width: 400px !important;
  }
  button{
    width: fit-content;
  }
}
/*
label, input {
  display: block;
}
label {
  font-weight: bold;
}
input {
  font-size: 12pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border: solid .3px;
}
button {
  padding: 10px;
} */
